@import "../utils/variables.scss";

.cases-container {
  text-align: center;
  padding-bottom: 200px;
  background-color: $bcg-sec;
}

.cases-title {
  font: $font-h2;
  color: $red;
  padding: 120px 5px 0;
}

.cases-subtitle {
  font: $font-h3;
  padding: 0 5px;
  margin-bottom: 50px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.card-container {
  background-color: $bcg-main;
  border-radius: 20px;
  padding: 20px;
  color: $text;
  margin: 20px;
  max-width: 300px;
}

.card-header {
  display: flex;
  align-items: center;
}

.card-image {
  margin: 0 30px 20px 0;
}

.card-title {
  font: $font-h3;
}

.card-text {
  font: $body;
  text-align: left;
}

.call-to-action-container {
  display: flex;
  text-align: center;
  padding-bottom: 200px;
  background-color: $bcg-sec;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
}

.call-to-action-card {
  max-width: 866px;
  border-top: solid $bcg-main 15px;
  border-radius: 15px;
  box-shadow: 0 4px 5px grey;
  font-weight: 700;
  color: $red;
}

.button-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  padding-bottom: 50px;
  align-items: center;
  justify-content: flex-start;
}

.button-area-text {
  font: $font-h2;
  // padding: auto;
  margin-left: 0;
  text-align: left;
  padding-left: 40px;
  width: 490px;
  // border: solid green;
}

.button {
  font: $font-h4;
  margin-top: 20px;
  border-radius: 40px;
  padding: 12px 36px;
  color: $text;
  background-color: $bcg-main;
  border-radius: 20px;
  border: none;
  width: 200px;
  margin: 10px auto;
  box-shadow: 0px 3px 6px #21212180;
}
.button-area-button {
  align-items: center;
  padding-right: 40px;
}

.cases-icon {
  padding-top: 40px;
  padding-left: 40px;
  text-align: left;
  color: $bcg-main;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .cases-container {
    padding-bottom: 100px;
  }
  .call-to-action-card {
    width: 90%;
  }
  .button {
    font: $font-h3;
    margin: 0;
  }
  .button-area {
    justify-content: center;
    align-items: center;
  }
  .button-area-text {
    font: $font-h2-mobile;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }
  .button-area-button {
    padding-right: 0;
    padding-top: 20px;
  }
  .cases-icon {
    text-align: center;
    padding-left: 0;
  }
  .cases-title {
    font: $font-h2-mobile;
  }
  .cases-subtitle {
    font: $font-h3-mobile;
  }
  .card-text {
    font: $font-h3-mobile;
    text-align: justify;
  }
}
