@import "../utils/variables.scss";

.container {
  width: auto;
  background: transparent;
  text-align: center;
  color: $text;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}

.title {
  padding-top: 140px;
  padding-bottom: 65px;
  font: $font-h1;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-input {
  background: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 15px;
  padding: 25px 30px;
  margin: 20px 0;
  font: $font-body;
}

.submit-button {
  font: $font-h3;
  background-color: $green;
  color: $text;
  text-transform: uppercase;
  border: none;
  border-radius: 15px;
  padding: 10px 0;
  margin-top: 20px;
}
