@import "../utils/variables.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: $text;
  justify-content: center;
}

.container-with-crossy {
  margin: auto;
  background-color: $bcg-sec;
}

.title {
  font: $font-h1;
  width: 60%;
  margin: 0 auto 20px;
}

.subtitle {
  font: $font-h3;
  width: 60%;
  margin: 0 auto 20px;
}

.button {
  font: $font-h4;
  margin-top: 20px;
  border-radius: 40px;
  padding: 12px 36px;
}

@media only screen and (max-width: 675px) {
  .container {
    height: 600px;
  }
}
@media only screen and (max-width: 928px) and (min-width: 675px) {
  .title {
    margin-top: 100px;
  }
}
