@import "../utils/variables.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 614px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bcg-main;
  text-align: center;
  color: $text;
  justify-content: center;
}

.container-text-block {
  margin: auto;
}

.title {
  font: $font-h1;
  width: 70%;
  margin: 0 auto 20px;
}

.subtitle {
  font: $font-h3;
  font-weight: 300;
  color: $text-accent;
  width: 60%;
  margin: 0 auto 20px;
}

.button {
  font: $font-h4;
  margin-top: 20px;
  border-radius: 40px;
  padding: 12px 36px;
}
