@import "../utils/variables.scss";

.container {
  background-color: $bcg-sec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  // border: solid blue;
  align-items: center;
}
.title {
  font: $font-h2;
  color: $red;
  margin-top: 50px;
}
.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
  padding-bottom: 50px;
  border-bottom: solid $text-accent 1px;
  width: 80%;
}
.cards-container-join-the-conv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
  padding-bottom: 50px;
  width: 80%;
}
.card {
  background-color: $bcg-main;
  font: $font-h3;
  font-weight: 800;
  color: $text;
  justify-content: flex-start;

  width: 200px;
  border-radius: 15px;
  text-align: left;
  padding: 20px 0 25px 20px;
  margin: 10px 50px;
  // border: solid green;
}
.card-icon {
  font-size: 40px;
  // transform: scale(1.8, 1.8) translateX(65px);
  // border: solid orange;
}
.card-title {
  padding-top: 15px;
  padding-bottom: 25px;
}
.card-arrow {
  color: $text;
  float: right;
  margin-right: 20px;
  text-align: center;
  width: 30px;
  height: 30px;
  // padding-top: 4px;
  border: solid $text 2px;
  border-radius: 20px;
  font-size: 16px;
}
.card-arrow:hover {
  transform: scale(1.1);
  color: $text-accent;
  border-color: $text-accent;
}

@media only screen and (min-width: 1480px) {
  .cards-container-join-the-conv {
    max-width: 1184px;
  }
  .cards-container {
    max-width: 1184px;
  }
}
