@import "../utils/variables.scss";

.container {
  display: flex;
  background-color: #212121;
  padding: 80px 0;
  color: $text;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  flex: 1 1;
  padding: 20px;
  // border: solid green;
}
