@import "../utils/variables.scss";

.container {
  background-color: $bcg-sec;
  text-align: center;
}
.page-title {
  color: $red;
  font: $font-h1;
  padding-top: $main-pt-desktop;
  padding-bottom: 50px;
}
.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  background-color: $bcg-main;
  border-radius: 20px;
  color: $text;
  padding: 10px;
  margin: 20px 50px;
  width: 350px;
  margin-bottom: 267px;
  box-shadow: 0px 3px 6px #16161691;
}
.card-title {
  padding-top: 33px;
  font: $font-h2;
  text-transform: uppercase;
}
.card-subtitle {
  font: $font-h4;
  font-weight: 300;
  height: 20px;
}
.icon {
  color: $green;
  margin-right: 10px;
}
.card-list {
  font: $font-h3;
  font-weight: 300;
  text-align: left;
  padding-top: 34px;
  padding-right: 36px;
  padding-left: 10%;
  padding-bottom: 50px;
  list-style: none;
  //   ;list-style-image: url('')
}
.card-list-item {
  display: flex;
  // border: solid blue;
}
.bullet-point {
  // border: solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  // border: solid red;
  width: 30px;
  min-width: 30px;
  height: 26px;
  margin-right: 10px;
}
.bullet-point-background {
  background-color: $white-mobile;
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  // border: solid red;
}
.bullet-point-icon {
  position: absolute;
  z-index: 2;
  margin-top: 1px;
  margin-left: 5px;
  // border: solid red;
}
.card-button-get-started {
  font: $font-h3;
  background-color: $green;
  border: none;
  outline: none !important;
  border-radius: 20px;
  color: $text;
  padding: 7px;
  width: 203px;
  margin-bottom: 36px;
}
.card-button-contact {
  font: $font-h3;
  background-color: $bcg-sec;
  border: none;
  outline: none !important;
  border-radius: 20px;
  color: $bcg-main;
  padding: 7px;
  width: 203px;
  margin-bottom: 36px;
}

@media only screen and (max-width: 600px) {
  .container {
    background-color: $bcg-sec;
  }
  .page-title {
    padding-top: $main-pt-mobile;
    padding-bottom: $main-pb-mobile;
    color: $red;
    font: $font-h1-mobile2;
  }
  .card {
    background-color: $bcg-main;
    border-radius: 10px;
    color: $white-mobile;
    padding: 10px;
    margin: 10px 10px 30px 10px;
  }
  .card-title {
    padding-top: 40px;
    font-family: "Poppins";
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 30px;
    text-transform: uppercase;
  }
  .card-subtitle {
    font: $font-h4;
    font-weight: 300;
    font-style: italic;
    color: $grey-mobile;
    height: 20px;
  }
  .icon {
    color: $green-mobile;
  }
  .card-list {
    font-family: "Roboto";
    font-weight: 100;
    // border: solid white;
    text-align: left;
    padding-top: 20px;
    padding-right: 5%;
    padding-left: 10%;
    padding-bottom: 20px;
    //   ;list-style-image: url('')
  }
  .card-button-get-started {
    text-transform: uppercase;
    background-color: $green-mobile;
  }
  .card-button-contact {
    text-transform: uppercase;
    background-color: $white-mobile;
  }
}
