$font-family-main: "Poppins", sans-serif;
$font-family-sec: "Poppins", sans-serif;
$font-family-sec-mobile: "Roboto", sans-serif;
$font-h1: 800 46px/60px $font-family-main;
$font-h2: 700 30px/40px $font-family-main;
$font-h3: 500 17px/28px $font-family-main;
$font-h4: 500 14px/20px $font-family-main;
$font-h5: 300 10px/16px $font-family-main;
$font-body: 300 14px/20px $font-family-main;

$title: 800;
$bold: 700;
$body: 500;
$thin: 300;
$bcg-main: #212121;
$bcg-sec: #efefef;
$red: #c62f2e;
$green: #2aa75e;
$green-shadow: #25bf7d80;
$text: #ffffff;
$text-accent: #8f8f8f;

// mobile color pallete
$black-mobile: #1f1f1f;
$grey-mobile: #6b5757;
$white-mobile: #f2f2f2;
$red-mobile: #c62f2e;
$green-mobile: #63a980;

$font-h1-mobile: 800 36px/40px $font-family-main;
$font-h1-mobile2: 800 36px/40px $font-family-sec-mobile;
$font-h2-mobile: 700 22px/30px $font-family-main;
$font-h3-mobile: 300 16px/20px $font-family-sec-mobile;

$main-pt-desktop: 160px;
$main-pt-mobile: 120px;
$main-pb-mobile: 40px;
$bcg-main-mobile: $black-mobile;
$bcg-sec-mobile: $white-mobile;
$bcg-ter-mobile: $grey-mobile;
$green-mobile: $green-mobile;
$text-mobile: $white-mobile;
$text-accent-mobile: $grey-mobile;
