$font-family-main: "Poppins", sans-serif;
$font-family-sec: "Poppins", sans-serif;
$font-h1: 800 46px/60px $font-family-main;
$font-h2: 700 30px/40px $font-family-main;
$font-h3: 500 17px/28px $font-family-main;
$font-h4: 500 14px/20px $font-family-main;
$font-h5: 300 10px/16px $font-family-main;
$font-body: 300 14px/20px $font-family-main;

$title: 800;
$bold: 700;
$body: 500;
$thin: 500;
$bcg-main: #212121;
$bcg-sec: #efefef;
$red: #c62f2e;
$green: #2aa75e;
$text: #ffffff;
$text-accent: #8f8f8f;
